In [55]:
import itertools
import os
import numpy as np
import pandas as pd
import requests

In [30]:
sydney_suburbs = pd.read_csv(os.path.join('sydney_suburbs.csv'), index_col=0)
brisbane_suburbs = pd.read_csv(os.path.join('brisbane_suburbs.csv'), index_col=0)
melbourne_suburbs = pd.read_csv(os.path.join('melbourne_suburbs.csv'), index_col=0)
hobart_suburbs = pd.read_csv(os.path.join('hobart_suburbs.csv'), index_col=0)
canberra_suburbs = pd.read_csv(os.path.join('canberra_suburbs.csv'), index_col=0)
adelaide_suburbs = pd.read_csv(os.path.join('adelaide_suburbs.csv'), index_col=0)
darwin_suburbs = pd.read_csv(os.path.join('darwin_suburbs.csv'), index_col=0)
perth_suburbs = pd.read_csv(os.path.join('perth_suburbs.csv'), index_col=0)

# Search for local venues for each every suburb with Foursquare API

### Define Foursquare credentials and version

In [2]:
FOURSQUARE_CLIENT_ID = 'JVA5H5NJXBQTUPSMHXXD0V0NKNP0OVJO0GKU1WJGLER5Q0DU'
FOURSQUARE_SECRET = 'DMZV42OBBRZNSPQSGEUD3PE3N5EHUKRZYRTMSCLSORKPAO2W'
FOURSQUARE_API_VERSION = '20180605'

In [3]:
CLIENT_ID = FOURSQUARE_CLIENT_ID # Foursquare ID
CLIENT_SECRET = FOURSQUARE_SECRET # Foursquare Secret
VERSION = FOURSQUARE_API_VERSION # Foursquare API version

print('Credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Credentails:
CLIENT_ID: JVA5H5NJXBQTUPSMHXXD0V0NKNP0OVJO0GKU1WJGLER5Q0DU
CLIENT_SECRET:DMZV42OBBRZNSPQSGEUD3PE3N5EHUKRZYRTMSCLSORKPAO2W

In [4]:
def getNearbyVenues(names, postcode, lga, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    index = 0
    for name, postcode, lga, lat, lng in zip(names, postcode, lga, latitudes, longitudes):
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        if results:
            venues_list.append([(
                                 name,
                                 postcode,
                                 lga,
                                 lat, 
                                 lng, 
                                 v['venue']['name'], 
                                 v['venue']['location']['lat'], 
                                 v['venue']['location']['lng'],  
                                 v['venue']['categories'][0]['name']
                                ) for v in results])
            
        # for suburbs that didn't return any top venues
        elif not results:
            venues_list.append([(
                                 name,
                                 postcode,
                                 lga,
                                 lat, 
                                 lng, 
                                 None, 
                                 None, 
                                 None,  
                                 None
                                )])
    
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = [
                             'Suburb',
                             'Postcode',
                             'LGA',
                             'Suburb Latitude', 
                             'Suburb Longitude', 
                             'Venue', 
                             'Venue Latitude', 
                             'Venue Longitude', 
                             'Venue Category'
                            ]
    
    return(nearby_venues)

In [35]:
# Explore suburbs of Sydney
while True:
    try:
        top_venues_sydney = getNearbyVenues(names=sydney_suburbs['Suburb'],
                                            postcode=sydney_suburbs['Postcode'],
                                            lga=sydney_suburbs['LGA'],
                                            latitudes=sydney_suburbs['LAT'],
                                            longitudes=sydney_suburbs['LON'])
    except(KeyError):
        continue
    break

In [37]:
# Explore suburbs of Brisbane
while True:
    try:
        top_venues_brisbane = getNearbyVenues(names=brisbane_suburbs['Suburb'],
                                              postcode=brisbane_suburbs['Postcode'],
                                              lga=sydney_suburbs['LGA'],
                                              latitudes=brisbane_suburbs['LAT'],
                                              longitudes=brisbane_suburbs['LON'])
    except(KeyError):
        continue
    break

In [38]:
# Explore suburbs of Melbourne
while True:
    try:
        top_venues_melbourne = getNearbyVenues(names=melbourne_suburbs['Suburb'],
                                               postcode=melbourne_suburbs['Postcode'],
                                               lga=sydney_suburbs['LGA'],
                                               latitudes=melbourne_suburbs['LAT'],
                                               longitudes=melbourne_suburbs['LON'])
    except(KeyError):
        continue
    break

In [39]:
# Explore suburbs of Hobart
while True:
    try:
        top_venues_hobart = getNearbyVenues(names=hobart_suburbs['Suburb'],
                                            postcode=hobart_suburbs['Postcode'],
                                            lga=sydney_suburbs['LGA'],
                                            latitudes=hobart_suburbs['LAT'],
                                            longitudes=hobart_suburbs['LON'])
    except(KeyError):
        continue
    break

In [40]:
# Explore suburbs of Canberra
while True:
    try:
        top_venues_canberra = getNearbyVenues(names=canberra_suburbs['Suburb'],
                                              postcode=canberra_suburbs['Postcode'],
                                              lga=sydney_suburbs['LGA'],
                                              latitudes=canberra_suburbs['LAT'],
                                              longitudes=canberra_suburbs['LON'])
    except(KeyError):
        continue
    break

In [41]:
# Explore suburbs of Adelaide
while True:
    try:
        top_venues_adelaide = getNearbyVenues(names=adelaide_suburbs['Suburb'],
                                              postcode=adelaide_suburbs['Postcode'],
                                              lga=sydney_suburbs['LGA'],
                                              latitudes=adelaide_suburbs['LAT'],
                                              longitudes=adelaide_suburbs['LON'])
    except(KeyError):
        continue
    break

In [42]:
# Explore suburbs of Darwin
while True:
    try:
        top_venues_darwin = getNearbyVenues(names=darwin_suburbs['Suburb'],
                                            postcode=darwin_suburbs['Postcode'],
                                            lga=sydney_suburbs['LGA'],
                                            latitudes=darwin_suburbs['LAT'],
                                            longitudes=darwin_suburbs['LON'])
    except(KeyError):
        continue
    break

In [43]:
# Explore suburbs of Perth
while True:
    try:
        top_venues_perth = getNearbyVenues(names=perth_suburbs['Suburb'],
                                           postcode=perth_suburbs['Postcode'],
                                           lga=sydney_suburbs['LGA'],
                                           latitudes=perth_suburbs['LAT'],
                                           longitudes=perth_suburbs['LON'])
    except(KeyError):
        continue
    break

The number of unique categories that can be curated from all of the returned venues

In [44]:
print('There are {} uniques categories in Sydney.'.format(len(top_venues_sydney['Venue Category'].unique())))
print('There are {} uniques categories in Brisbane.'.format(len(top_venues_brisbane['Venue Category'].unique())))
print('There are {} uniques categories in Melbourne.'.format(len(top_venues_melbourne['Venue Category'].unique())))
print('There are {} uniques categories in Hobart.'.format(len(top_venues_hobart['Venue Category'].unique())))
print('There are {} uniques categories in Canberra.'.format(len(top_venues_canberra['Venue Category'].unique())))
print('There are {} uniques categories in Adelaide.'.format(len(top_venues_adelaide['Venue Category'].unique())))
print('There are {} uniques categories in Darwin.'.format(len(top_venues_darwin['Venue Category'].unique())))
print('There are {} uniques categories in Perth.'.format(len(top_venues_perth['Venue Category'].unique())))

There are 334 uniques categories in Sydney.
There are 233 uniques categories in Brisbane.
There are 312 uniques categories in Melbourne.
There are 100 uniques categories in Hobart.
There are 147 uniques categories in Canberra.
There are 219 uniques categories in Adelaide.
There are 77 uniques categories in Darwin.
There are 210 uniques categories in Perth.

In [45]:
# Analysing each suburb

In [46]:
# Concatenate dataframes
top_venues = pd.concat([top_venues_sydney,
                        top_venues_brisbane,
                        top_venues_melbourne,
                        top_venues_hobart,
                        top_venues_canberra,
                        top_venues_adelaide,
                        top_venues_darwin,
                        top_venues_perth])
top_venues.shape

(15959, 9)

In [47]:
# one hot encoding
top_venues_onehot = pd.get_dummies(top_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
top_venues_onehot['Suburb'] = top_venues['Suburb'] 
top_venues_onehot['Postcode'] = top_venues['Postcode'] 
top_venues_onehot['LGA'] = top_venues['LGA'] 

# move neighborhood column to the first column
fixed_columns = list(top_venues_onehot.columns[-3:]) + list(top_venues_onehot.columns[:-3])
top_venues_onehot = top_venues_onehot[fixed_columns]

top_venues_onehot.head()

,Suburb,Postcode,LGA,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Lounge,...,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,Abbotsbury,2176.0,City of Fairfield,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Abbotsford,2046.0,City of Canada Bay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abbotsford,2046.0,City of Canada Bay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Abbotsford,2046.0,City of Canada Bay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Abbotsford,2046.0,City of Canada Bay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
top_venues_onehot.shape

(15959, 458)

Group suburbs and calculate the mean of the frequency of occurance for each category

In [49]:
top_venues_grouped = top_venues_onehot.groupby(['Suburb', 'Postcode']).mean().reset_index()
top_venues_grouped.head()

,Suburb,Postcode,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Lounge,Airport Service,...,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,Abbotsbury,2176.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Abbotsford,2046.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.142857,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Abbotsford,3067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aberfeldie,3040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aberfoyle Park,5159.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function that sorts most frequent venues in descending order

In [50]:
# def return_most_common_venues(row, num_top_venues):
#     row_categories = row.iloc[1:]
#     row_categories_sorted = row_categories.sort_values(ascending=False)
    
#     return row_categories_sorted.index.values[0:num_top_venues]

In [51]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[2:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    top_ten = pd.DataFrame(row_categories_sorted.iloc[0:10])
    top_ten = top_ten.loc[(top_ten!=0).any(axis=1)]
    if len(top_ten) == 0:
        top_ten_list = [None] * num_top_venues
    else:
        top_ten_list = list(top_ten.index.values)
        if len(top_ten_list) < num_top_venues:
            n_empty_cells = num_top_venues - len(top_ten_list)
            top_ten_list.extend(itertools.repeat(None, n_empty_cells))
    
    return top_ten_list

Creating a new dataframe and display the top 10 venues for each neighbourhood

In [56]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Suburb', 'Postcode']
for index in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(index+1, indicators[index]))
    except:
        columns.append('{}th Most Common Venue'.format(index+1))

# create a new dataframe
top_venues_sorted = pd.DataFrame(columns=columns)
top_venues_sorted['Suburb'] = top_venues_grouped['Suburb']
top_venues_sorted['Postcode'] = top_venues_grouped['Postcode']

for index in np.arange(top_venues_grouped.shape[0]):
    top_venues_sorted.iloc[index, 2:] = return_most_common_venues(top_venues_grouped.iloc[index, :], num_top_venues)

In [57]:
# Add id column
top_venues_sorted['Suburb_id'] = np.arange(0, top_venues_sorted.shape[0])

# Shifting last column to first
cols = list(top_venues_sorted.columns)
cols = [cols[-1]] + cols[:-1]
top_venues_sorted = top_venues_sorted[cols]

In [58]:
top_venues_sorted.head()

,Suburb_id,Suburb,Postcode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,0,Abbotsbury,2176.0,None,None,None,None,None,None,None,None,None,None
1,1,Abbotsford,2046.0,Pizza Place,Café,Park,Gift Shop,Wine Shop,None,None,None,None,None
2,2,Abbotsford,3067.0,Café,Pub,Japanese Restaurant,Pizza Place,Gastropub,Football Stadium,Bus Stop,Greek Restaurant,Grocery Store,Thrift / Vintage Store
3,3,Aberfeldie,3040.0,Athletics & Sports,Café,Garden,Art Gallery,None,None,None,None,None,None
4,4,Aberfoyle Park,5159.0,Park,Electronics Store,None,None,None,None,None,None,None,None

Save dataframes as csv files

In [59]:
top_venues_grouped.to_csv('top_venues_grouped.csv')

In [60]:
top_venues_sorted.to_csv('top_venues_sorted.csv')